body {
    font-family: Arial, sans-serif;
    background-image: url('https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4'); /* Replace 'your-image-url.jpg' with the URL or path to your background image */
    background-size: cover; /* Cover the entire background */
    background-color: #141414;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20px;
    margin-right: 20px;
    /*padding-right: 20px;*/
}

.container {
    width: 400px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    text-align: end;
    color: #fff;
    /*margin-top: 0;*/
    margin-bottom: 30px; /* Add margin between title and form *!*/
    margin-right: 30px;
    /*margin-top: 20px;*/
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #c40010;
}

#loginError {
    margin-top: 10px;
    color: #e50914;
}
h2 {
    text-align: end;
    color: #fff;
    margin-bottom: 30px; /* Add margin between title and form */
    margin-right: 30px;
    animation-name: rollIn; /* Add animation name */
    animation-duration: 2s; /* Set animation duration */
    animation-timing-function: ease-in-out; /* Set animation timing function */
    animation-delay: 0.5s; /* Delay the animation */
    animation-fill-mode: forwards; /* Maintain the final state of the animation */
    font-weight: bold; /* Make the text more bold */
    font-size: 24px; /* Increase font size */
}

/* Define the rollIn animation */
@keyframes rollIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
