body {
    font-family: Arial, sans-serif;
    background-image: url('https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4');
    background-size: cover;
    background-position: center;
    background-color: #141414;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.container {
    text-align: center;
}

h1, h2 {
    color: #fff;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    color: #fff;
}

table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

/* Update the color of the buttons */
.btn {
    background-color: #e50914;
    border-color: #e50914;
    color: #fff;
    margin: 5px; /* Add margin for spacing */
}

/* Style the buttons on hover */
.btn:hover {
    background-color: #ff5252;
    border-color: #ff5252;
}

/* Center and highlight the total price */
#totalPrice {
    font-weight: bold;
    font-size: 20px;
    color: #e50914;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Update the style of the buttons */
.btn {
    background-color: #e50914;
    border-color: #e50914;
    color: #fff;
    margin: 5px; /* Add margin for spacing */
    padding: 10px 20px; /* Increase padding for a larger button */
    border-radius: 8px; /* Add border-radius for rounded corners */
}

/* Style the buttons on hover */
.btn:hover {
    background-color: #ff5252;
    border-color: #ff5252;
}

