body {
    font-family: Arial, sans-serif;
    background-image: url('https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4');
    background-size: cover;
    background-position: center;
    background-color: #141414;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 8px;
    text-align: left;
    color: #fff;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1);
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

/* Update the color of the buttons */
.btn-primary, .btn-success {
    background-color: #e50914;
    border-color: #e50914;
}

/* Center and highlight the total price */
#totalPrice {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #e50914;
    margin-top: 20px;
}
